.navbar-header
  a.navbar-brand(v-link="'/'" @click="$deactivate") {{title}}
ul.nav.navbar-nav
  li(v-for='item in menus' @click="$activate($index)" v-bind:class="$index===active?'active':''")
    a(v-link="'/editor/'+item.title") {{item.title}}    
