body {
  background: #eee;
}

.max-height() {
  height: 100%;
}

.max-width() {
  width: 100%;
}

body,
html {
  .max();
}

.max() {
  .max-width();
  .max-height();
}

.max {
  .max();
}

.max-width {
  .max-width();
}

.max-height {
  .max-height();
}

.navbar {
  border-radius: 0;
}

#messages li:nth-child(odd) {
  background-color: #eee;
}

.message-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10%;
}
